.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: $sans-serif;
      text-transform: uppercase;
      font-size: smaller;
      font-weight: bold;
      padding: 5px;
      margin: 3px;
    }
  }

  span {
    
  }
}

.right-nav  {

  > ul {

    > li {
      margin: 1px;
    }

    > li:last-of-type {
      font-size: larger;
    }
  }
  
  i {
    margin: 5px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
