.sections {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    position: relative;
}

.sections-nav {
    flex-direction: row;
    font-family: $sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
        margin: 10px;
    }

    a:hover {
        background-color: $light-gray;
    }

    li:last-of-type {
        font-size: x-small;
        align-self: flex-end;
    }

    li:last-of-type:hover {
        text-decoration: underline;
    }

    ul {
        display: flex;
    }
}