<header class="masthead">
  <nav class="language-nav">
    <ul>
        <li> <a href=""> CSS </a> </li>
        <li> <a href=""> HTML </a> </li>
        <li> <a href=""> Javascript </a> </li>
        <li> <a href=""> Ruby </a> </li>
    </ul>
  </nav>



  <img class="logo" src="assets/AA_Times_Logo.png">

  <nav class="masthead-links">
        <p><time> Tuesday, October 18, 2016 </time></p>
        <p><a href=""><i class="fas fa-newspaper"></i>Today’s Paper</a></p>
        <p><a href=""><i class="fas fa-video"></i> Video </a></p>
        <p> <button> 77°F </button> </p>
        <p> <button> AAO <strong>+100%</strong> </button> </p>
  </nav>



 </header>









